<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaweisoft.huawei5g.mapper.PostsMapper">
  <resultMap id="BaseResultMap" type="com.huaweisoft.huawei5g.model.Posts">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="pass_id" jdbcType="INTEGER" property="passId" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="praise" jdbcType="INTEGER" property="praise" />
    <result column="created_at" jdbcType="INTEGER" property="createdAt" />
    <result column="update_at" jdbcType="INTEGER" property="updateAt" />
  </resultMap>

</mapper>